<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project.content %>
</p>

<p>
	<strong>Users</strong>
	<% @project.middle_tables.each do |i| %>
		<% if @project.id == i.project.id %>
			<li><%= i.user.name %></li>
		<% end %>
	<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
